[submodule "Hyprland"]
	path = Hyprland
	url = https://github.com/hyprwm/Hyprland
[submodule "hypridle"]
	path = hypridle
	url = https://github.com/hyprwm/hypridle
[submodule "aquamarine"]
	path = aquamarine
	url = https://github.com/hyprwm/aquamarine
[submodule "hyprpaper"]
	path = hyprpaper
	url = https://github.com/hyprwm/hyprpaper
[submodule "hyprpicker"]
	path = hyprpicker
	url = https://github.com/hyprwm/hyprpicker
[submodule "hyprutils"]
	path = hyprutils
	url = https://github.com/hyprwm/hyprutils
[submodule "xdg-desktop-portal-hyprland"]
	path = xdg-desktop-portal-hyprland
	url = https://github.com/hyprwm/xdg-desktop-portal-hyprland
[submodule "hyprwayland-scanner"]
	path = hyprwayland-scanner
	url = https://github.com/hyprwm/hyprwayland-scanner
[submodule "hyprlang"]
	path = hyprlang
	url = https://github.com/hyprwm/hyprlang
[submodule "hyprland-protocols"]
	path = hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols
[submodule "hyprlock"]
	path = hyprlock
	url = https://github.com/hyprwm/hyprlock
